{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {% if items|length>0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.quantity * item.product.price }} zł</td>
                    <td><a href="{{ path('cart_remove',{'id':item.product.id}) }}" class="btn btn-danger btn-sm"><i
                                    class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td>{{ total }} zł</td>
                <td></td>
            </tr>
            </tfoot>

        </table>
        {#    {% elseif %}#}
    {% else %}
        Cart empty !!!!
    {% endif %}
{% endblock %}
