{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Qunatity</th>
                <th scope="col">Description</th>

            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>

                <td>{{ product.id }}</td>
                <td><a href="{{ path('edit_product',{'id':product.id}) }}"> {{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.description|slice(0,30) }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Akcje</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('product_index') }}">Edytuj</a>
                            <a class="dropdown-item" href="#">Usuń</a>
                        </div>
                    </div>

                </td>
            </tr>

        {% endfor %}
        </tbody>
        </table>

    </div>
{#    <a href="{{ path('product_new') }}" class="btn btn-primary stretched-link">Dodaj nowy produkt</a>#}
{% endblock %}
