{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
{% block body %}

    {% for product in products %}
        <div class="col-sm-3 d-flex justify-content-center">

            <div class="card" style="width: 18rem;">
                {% if product.image %}
                    <img src="{{ asset('uploads/images/'~ product.image) }}"
                         class="card-img-top" alt="...">
                {% else %}
                    <img src="https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                         class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a
                                href="{{ path('edit_product',{'id':product.id}) }}"> {{ product.name }}</a></h5>
                    <p class="card-text product-card-description">{{ product.description|slice(0,30) }}</p>
                    <h5 class="card-title"> Price: {{ product.price }} zł</h5>
                    {% if app.user %}
                        <a href="{{ path('cart_add',{id:product.id}) }}" class="btn btn-success">Add to shopping
                            cart</a>


                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Akcje
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('product_index') }}">Edytuj</a>
                                <a class="dropdown-item" href="#">Usuń</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="navigation">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </div>
    {#    <a href="{{ path('product_new') }}" class="btn btn-primary stretched-link">Dodaj nowy produkt</a>#}
{% endblock %}
