{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}
{% block body %}

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qunatity</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>

                <td>{{ product.id }}</td>
                <td><a href="{{ path('show_product',{'id':product.id}) }}"> {{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.description|slice(0,30) }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>


{#    <a href="{{ path('product_new') }}" class="btn btn-primary stretched-link">Dodaj nowy produkt</a>#}
{% endblock %}
